@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jetbrains_light";
  src: url("../font/JetBrainsMono-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jetbrains_bold";
  src: url("../font/JetBrainsMono-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jetbrains_italic";
  src: url("../font/JetBrainsMono-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jetbrains_medium";
  src: url("../font/JetBrainsMono-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_light";
  src: url("../font/Jost-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_bold";
  src: url("../font/Jost-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_extra_bold";
  src: url("../font/Jost-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_medium";
  src: url("../font/Jost-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
/* loading start */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.loading-pages {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027) !important;
  height: 100vh !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 1.5rem !important;
  align-items: center !important;
  justify-content: center !important;
  color: #191654 !important;
}

#svgs {
  height: 150px !important;
  width: 150px !important;
  stroke: white !important;
  fill-opacity: 0 !important;
  stroke-width: 3px !important;
  stroke-dasharray: 4500 !important;
  animation: draw 8s ease !important;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.names-container {
  height: 30px;
  overflow: hidden;
}

.logo-names {
  color: #fff;
  font-size: 20px;
  font-family: "Michroma";
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}
/* loading end */
@layer base {
  html {
    font-family: "jetbrains", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  .absolute-shape-1 {
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
  }

  .image-shape {
    height: 400px !important;
    width: 300px !important;
    border-radius: 100px !important;
    box-shadow: inset 0px -1px 0 0 rgba(0, 0, 0, 0.1) !important;
  }
  .bg-shape1 {
    width: 200px !important;
    height: 200px !important;
    top: 200px;
    left: 0px;
    position: absolute;
    border-radius: 999px !important;
    z-index: -1;
    animation: one 10s infinite !important ;
  }
  .bg-shape2 {
    width: 200px !important;
    height: 200px !important;
    position: absolute;
    top: 0px;
    left: 200px;
    border-radius: 999px !important;
    z-index: -1;
    animation: two 10s infinite !important ;
  }
  .bg-shape3 {
    width: 200px !important;
    height: 200px !important;
    position: absolute;
    top: 200px;
    right: 0px;
    border-radius: 999px !important;
    z-index: -1;
    animation: three 10s infinite !important ;
  }
  @keyframes one {
    0% {
      top: 200px;
      left: 0px;
    }
    25% {
      left: 300px;
      top: 0px;
    }
    50% {
      left: 300px;
      top: 260px;
    }
  }
  @keyframes two {
    0% {
      left: 200px;
      top: 0px;
    }
    25% {
      left: 200px;
      top: 260px;
    }
    50% {
      left: 0px;
      top: 260px;
    }
  }
  @keyframes three {
    0% {
      right: 0px;
      top: 200px;
    }
    25% {
      right: 300px;
      top: 0px;
    }
    50% {
      right: 200px;
      top: 0px;
    }
  }
  .bg-blur {
    filter: blur(50px);
  }
  .bg-primary-shape {
    background-color: rgb(30, 0, 255);
    /* background-color: black !important; */
  }
  .bg-teal-shape {
    background-color: rgb(255, 72, 173);
    /* background-color: black !important; */
  }
  .bg-purple-shape {
    background-color: rgb(140, 0, 215);
    /* background-color: black !important; */
  }
  .text-posisi {
    font-size: 100px;
    padding: 0;
    line-height: 1;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
  }
  .container-sidebar {
    top: 30% !important;
    left: 0 !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    @apply bg-darkblue text-white;
  }
  .menu-active {
    border-bottom: 4px solid #fff;
    border-radius: 10px;
  }
  .container-sidebar-sub {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px !important;
    padding: 2rem 1rem !important;
  }
  .container-shape {
    width: 50%;
    height: 70vh;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  .bg-shape1,
  .bg-shape2,
  .bg-shape3 {
    position: absolute; /* Ensure shapes are positioned absolutely */
    transition: left 0.5s, top 0.5s; /* Default transition for moving */
  }
  .hamburger-line {
    @apply w-[40px] h-[4px] my-2 block bg-dark;
    border-radius: 10px;
  }
  .head-logo {
    @apply font-jost_medium text-dark;
    font-size: 24px !important;
  }
  .hamburger-active {
    z-index: 999 !important;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
    z-index: 99 !important;
    background-color: #fff !important;
  }
  .hamburger-active > span:nth-child(2) {
    display: block;
    @apply scale-0;
    z-index: 99 !important;
    background-color: #fff !important;
  }
  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
    z-index: 99 !important;
    background-color: #fff !important;
  }

  .head-logo-active {
    position: relative !important;
    z-index: 999 !important;
    color: #fff !important;
  }

  .nav-fixed {
    position: fixed !important;
    z-index: 9999 !important;
    background-color: transparent !important;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1) !important;
  }
  .menu-items {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
  }
  .nav-fixed::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute !important;
    background-color: #e6e6e6;
    opacity: 0.7 !important;
    backdrop-filter: blur(5px) !important;
  }
  .nav-menu {
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    z-index: 10 !important;
    left: 0 !important;
    position: absolute !important;
    padding: 5px 0 !important;
    background-color: transparent;
  }
  .nav-menu::before {
    content: "" !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: -1 !important;
    background-color: rgba(52, 58, 64, 0.9) !important; /* Ubah ke rgba */
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
  }
  .list-menu-hamburger {
    font-size: 24px !important;
    line-height: 1;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
  }
  .text-about,
  .text-project {
    font-size: 100px !important;
    line-height: 1;
    padding: 10px 0;
    font-weight: 900;
    text-shadow: 0.5px 0.5px 0 black;
    position: relative;
    background-color: transparent;
  }
  .text-about::before,
  .text-project::before {
    content: "";
    position: absolute;
    width: 20%; /* Adjust this value as needed */
    height: 5px;
    bottom: -10px;
    left: 0; /* Centering */
    /* transform: translateX(-50%); */
    z-index: 1;
    background-color: rgb(107 114 128);
    border-radius: 10px;
  }
  .text-about::after,
  .text-project::after {
    content: "";
    position: absolute;
    width: 20%; /* Adjust this value as needed */
    height: 5px;
    bottom: -25px;
    left: 10%; /* Centering */
    /* transform: translateX(-50%); */
    z-index: 1;
    background-color: rgb(107 114 128);
    border-radius: 10px;
  }
  .containts-about-image-full {
    height: 100vh !important;
    max-height: 100vh !important;
  }
  .containts-about-image-full > figure {
    height: 100vh !important;
    max-height: 100vh !important;
  }
  .containts-about-image-full > figure > a > img {
    height: 100% !important;
    object-fit: cover !important;
  }

  /* index css start */

  #contact,
  #abouts,
  #project {
    padding: 0 !important;
    padding-top: 10rem !important;
  }
  #contact {
    margin: 0 !important;
    margin-top: 18rem !important;
    padding: 8rem 0 !important;
  }
  #abouts > .container > div > div > .containts-about-image,
  #project > .container > div > div > .containts-project-image,
  #contact > .container > div > div > .containts-contact-image {
    width: 100% !important;
    height: 400px !important;
    padding: 0 !important;
    padding: 0 2rem !important;
    top: 0 !important;
    display: flex !important;
    justify-content: center !important;
  }
  #abouts > .container > div > div > .containts-about-image > figure,
  #project > .container > div > div > .containts-project-image > figure,
  #contact > .container > div > div > .containts-contact-image > figure,
  #abouts > .container > div > div > .containts-about-image > figure > a,
  #project > .container > div > div > .containts-project-image > figure > a,
  #contact > .container > div > div > .containts-contact-image > figure > a {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
  }
  #abouts > .container > div > div > .containts-about-image > figure > a > img,
  #project
    > .container
    > div
    > div
    > .containts-project-image
    > figure
    > a
    > img,
  #contact
    > .container
    > div
    > div
    > .containts-contact-image
    > figure
    > a
    > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transform: none !important;
  }
  /* index css end */

  #about-full > section {
    box-sizing: border-box !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #whos > div > div > .line-one-about-full,
  #whos > div > div > .line-two-about-full {
    width: 8% !important;
    height: 4px !important;
    z-index: 1 !important;
    margin-bottom: 0.8rem !important;
    background-color: rgb(107 114 128) !important;
    border-radius: 10px !important;
  }
  #whos > div > div > .line-two-about-full {
    margin-left: 4% !important;
  }
  #whos > div > div > .text-whos {
    font-size: 30px !important;
    line-height: 1 !important;
    padding: 10px 0 !important;
    font-weight: 900 !important;
    text-shadow: 0.5px 0.5px 0 black !important;
    position: relative !important;
    background-color: transparent !important;
  }
  #aboutme > div > div > div > .container-about-full-text {
    padding: 0 !important;
    padding: 4rem 2rem 0rem 2rem !important;
    height: auto !important;
    /* border: 1px solid black !important; */
  }
  #aboutme > div > div > div > .container-about-full-text > h1 {
    font-size: 30px !important;
  }
  #aboutme > div > div > div > .container-about-full-text > p {
    font-weight: 800 !important;
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    text-shadow: 0.05px 0.05px 0 rgb(107 114 128);
  }
  #aboutme > div > div > div > .container-about-full-text > div > iconify-icon {
    font-size: 50px !important;
  }
  #aboutme
    > div
    > div
    > div
    > .container-about-full-text
    > .containers-spotify {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 20px !important;
    /* border: 2px solid black !important; */
    box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
    padding: 0 !important;
    padding: 1rem 2rem !important;
  }
  #aboutme
    > div
    > div
    > div
    > .container-about-full-text
    > .containers-spotify
    > h4 {
    font-size: 18px !important;
  }

  .container-image-about-full-effect {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: auto !important;
    padding: 5rem 0 !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container {
    width: 300px !important;
    height: 380px !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 18px !important;
    font-size: 22px !important;
    font-weight: bold !important;
    color: #fff !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218) !important;
  }

  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container
    > swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77) !important;
  }

  /* about full css end */

  /* image popup start */
  .container-image-popup {
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    z-index: 9999 !important;
    width: 100% !important;
    height: 100vh !important;
    background-color: transparent !important;
  }
  .container-image-popup::before {
    content: "" !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    z-index: -1 !important;
    background-color: rgba(25, 25, 26, 0.9) !important; /* Ubah ke rgba */
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
  }
  /* body {
    overflow-y: hidden;
  } */
  .delete-icon-image-popup {
    margin-right: 1rem !important;
  }
  .delete-icon-image-popup,
  .focus-icon-image-popup {
    font-size: 30px !important;
    color: #e6e6e6 !important;
    opacity: 0.6 !important;
    text-shadow: 0.5px 0.5px 0 #e6e6e6 !important;
    font-weight: bolder !important;
    transition: transform 0.8s ease-in-out, color 0.3s ease;
  }
  .delete-icon-image-popup:hover,
  .focus-icon-image-popup:hover {
    color: #fff !important;
    opacity: 1 !important;
    cursor: pointer !important;
    text-shadow: 0.5px 0.5px 0 #fff !important;
  }
  .body-image-popup {
    height: 100% !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
    padding: 2rem 2rem !important;
    border-radius: 20px !important;
    box-shadow: 0 1px 3px 0 rgba(237, 235, 235, 0.1) !important;
  }
  .img-popup {
    width: 100% !important;
    object-fit: contain !important;
    height: 100% !important;
    transition: transform 0.8s ease-in-out;
    border-radius: 10px !important;
  }
  .container-image-popup > div > .body-image-popup > img:hover {
    cursor: pointer !important;
    transition: transform 0.8s ease-in-out;
  }
  .zoomed {
    position: absolute;
    transform-origin: center;
    transition: transform 0.8s ease-in-out;
  }

  /* image popup end */

  /* Skills Start */

  #skills > div > div > div > .header > h1 {
    font-size: 30px !important;
  }
  #skills > div > div > div > .header > h6 {
    font-weight: 800 !important;
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    text-shadow: 0.05px 0.05px 0 rgb(107 114 128) !important;
  }
  .container-skills {
    padding: 3rem 5rem 3rem 5rem !important;
    /* border: 1px solid red !important; */
  }
  .container-skills > div > iconify-icon {
    font-size: 50px !important;
  }
  .container-skills > div > h4 {
    font-size: 18px !important;
  }
  .container-skills > div {
    border-radius: 20px !important;
    padding: 1rem 2rem !important;
    /* border: 2px solid red !important; */
    box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.1) !important;
  }
  /* Skills End */

  /* Expired & Tools Start */
  .container-expertise,
  .container-tools {
    padding: 1rem 4rem !important;
  }
  .container-expertise > .body-expertise > div > iconify-icon,
  .container-tools > .body-tools > div > iconify-icon {
    font-size: 40px !important;
    transition: transform 0.8s ease-in-out;
  }
  .container-expertise > .body-expertise > div:hover,
  .container-tools > .body-tools > div:hover {
    color: #fff !important;
    background-color: #374151 !important;
    cursor: pointer !important;
  }
  .container-expertise > .body-expertise > div,
  .container-tools > .body-tools > div {
    border-radius: 10px !important;
    padding: 2rem 1rem !important;
    box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.1) !important;
  }
  .header-expertise > h6,
  .header-tools > h6 {
    font-weight: 800 !important;
    font-size: 30px !important;
    padding: 0 !important;
    padding: 2rem 0 !important;
    line-height: 1.75rem !important;
    text-shadow: 0.05px 0.05px 0 rgb(107 114 128) !important;
  }
  /* Expired & Tools End */

  /* Experience Start */
  #experience > div > div > .line-one-experience-full,
  #experience > div > div > .line-two-experience-full {
    width: 8% !important;
    height: 4px !important;
    z-index: 1 !important;
    margin-bottom: 0.8rem !important;
    background-color: rgb(107 114 128) !important;
    border-radius: 10px !important;
  }
  #experience > div > div > .line-two-experience-full {
    margin-left: 4% !important;
  }
  #experience > div > div > .text-experience {
    font-size: 30px !important;
    line-height: 1 !important;
    padding: 10px 0 !important;
    font-weight: 900 !important;
    text-shadow: 0.5px 0.5px 0 black !important;
    position: relative !important;
    background-color: transparent !important;
  }
  #experience > div > .body-experience > ol {
    border: none !important;
    border-left: 4px solid black !important;
  }
  #experience > div > .body-experience > ol > li > div {
    transform: translateX(-28px) !important;
  }
  #experience > div > .body-experience > ol > li > time {
    font-size: 18px !important;
  }
  #experience > div > .body-experience > ol > li > h3 {
    font-size: 30px !important;
    padding: 0 !important;
    padding-top: 2rem !important;
  }
  #experience > div > .body-experience > ol > li > h5 {
    font-size: 16px !important;
    padding: 0 !important;
    padding-top: 0.2rem !important;
  }
  #experience > div > .body-experience > ol > li > p {
    font-size: 18px !important;
    padding: 0 !important;
    padding-top: 1rem !important;
  }
  #experience > div > .body-experience > ol > li > .experience-tech > div {
    border-radius: 50% !important;
    padding: 0.5rem 0.5rem !important;
    box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.1),
      inset 2px 2px 0 0 rgba(0, 0, 0, 0.1) !important;
  }
  #experience
    > div
    > .body-experience
    > ol
    > li
    > .experience-tech
    > div:hover {
    color: #fff !important;
    background-color: #374151 !important;
    cursor: pointer !important;
  }
  #experience
    > div
    > .body-experience
    > ol
    > li
    > .experience-tech
    > div
    > iconify-icon {
    font-size: 24px !important;
    transition: transform 0.8s ease-in-out;
  }
  /* Experience End */

  /* profile start */
  #profile > div > div > .header-profile {
    padding: 0 !important;
    padding: 5rem 0 2rem 0 !important;
  }
  #profile > div > div > .header-profile > h1 {
    font-size: 30px !important;
  }
  #profile > div > div > .header-profile > h6 {
    font-weight: 800 !important;
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    text-shadow: 0.05px 0.05px 0 rgb(107 114 128) !important;
  }
  #profile > div > div > .body-profile > div > .container-image > img {
    max-height: 400px !important;
    object-fit: cover !important;
    /* max-width: 60% !important; */
    border-radius: 10px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education
    > h3 {
    font-size: 22px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education
    > h1 {
    font-size: 30px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education
    > p {
    font-size: 20px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education {
    padding: 1rem 2rem !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-two {
    padding: 0 2rem 1rem 2rem !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-two
    > p {
    font-size: 18px !important;
    text-align: justify !important;
    padding: 0 0 0.1rem 0 !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-three {
    padding: 0 2rem 1rem 2rem !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-three
    > h4 {
    background-color: #374151 !important;
    display: inline-block !important;
    padding: 0.5rem 1.5rem 0.5rem 1rem !important;
    color: #fff !important;
    border-radius: 20px !important;
    border: 2px solid #374151 !important;
    transition: transform 0.8s ease-in-out;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-three
    > h4
    > iconify-icon {
    margin-right: 0.3rem !important;
    transform: translateY(3px) !important;
    font-size: 20px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-three
    > h4:hover {
    background-color: transparent !important;
    color: #343a40 !important;
    cursor: pointer !important;
    border: 2px solid #374151 !important;
    transition: transform 0.8s ease-in-out;
  }
  /* profile end */

  /* quotes start */
  #quotes {
    padding: 0 !important;
    padding: 20rem 0 !important;
    /* border: 1px solid red !important; */
  }
  #quotes > div > div > div > figure > blockquote > p {
    font-size: 28px !important;
  }
  #quotes > div > div > div > figure > blockquote > p > span {
    font-size: 22px !important;
  }
  /* quotes end */

  /* GetInTouch Start */
  #getintouch > div > div > div {
    padding: 5rem 0 !important;
  }
  #getintouch > div > div > div > h5 {
    font-size: 24px !important;
  }
  #getintouch > div > div > div > a > h1 {
    font-size: 40px !important;
  }
  #getintouch > div > div > div > a > iconify-icon {
    font-size: 40px !important;
  }
  /* GetInTouch End */
  /* header start */
  #about-full > header > div > div > .container-logo {
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 16px !important;
  }
  #about-full > header > div > div > .container-logo > a > iconify-icon {
    font-size: 24px !important;
    transform: translateY(3px) !important;
  }
  #about-full > header > div > div > .container-logo > h4 {
    padding: 0 !important;
    padding: 1rem 0 !important;
    font-size: 24px !important;
  }
  /* header end */
}
/* project detail start */
#project-me
  > div
  > div
  > div
  > .container-image-project-me-full-effect
  > swiper-container {
  width: 460px !important;
  height: 320px !important;
}
#project-me > div > div > div > .container-project-me-full-text > h1 {
  font-size: 32px !important;
}
#project-me > div > div > div > .container-project-me-full-text > p {
  font-size: 20px !important;
}
#project-me
  > div
  > div
  > div
  > .container-image-project-me-full-effect
  > swiper-container
  > swiper-slide {
  border-radius: 18px !important;
}
#project-me
  > div
  > div
  > div
  > .container-image-project-me-full-effect
  > swiper-container
  > swiper-slide
  > img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

/* all projects start */
#otherprojects
  > div
  > div
  > div
  > .body-all-projects
  > .items-content
  > .items-container-project {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
  background-color: rgba(55, 65, 81, 0.8) !important;
  border-radius: 0.5rem !important;
}
#otherprojects
  > div
  > div
  > div
  > .body-all-projects
  > .items-content
  > .items-container-project
  > div {
  width: 100% !important;
  height: 100% !important;
  color: #fff !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 2rem 5rem !important;
}
#otherprojects
  > div
  > div
  > div
  > .body-all-projects
  > .items-content
  > .items-container-project
  > div
  > h1 {
  text-align: center !important;
  font-size: 28px !important;
}
#otherprojects
  > div
  > div
  > div
  > .body-all-projects
  > .items-content
  > .items-container-project
  > div
  > p {
  text-align: center !important;
  font-size: 16px !important;
  margin-bottom: 1.5rem !important;
}
#otherprojects
  > div
  > div
  > div
  > .body-all-projects
  > .items-content
  > .items-container-project
  > div
  > div
  > h3 {
  color: #0f2027 !important;
  padding: 0.2rem 1rem !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  background-color: #e6e6e6 !important;
}
/* all projects end */
/* project detail end */

/* detail deskripsi project start */
#deskripsi > div > div > .container-slide-img {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  /* border: 2px solid red !important; */
}
#deskripsi > div > div > .container-deskripsi-content {
  margin-bottom: 5rem !important;
  /* border: 2px solid red !important; */
}
#deskripsi > div > div > .container-slide-img > swiper-container {
  width: 100% !important;
  height: 100% !important;
  color: #343a40 !important;
}

#deskripsi > div > div > .container-slide-img > swiper-slide {
  text-align: center !important;
  font-size: 18px !important;
  background: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #343a40 !important;
}

#deskripsi > div > div > .container-slide-img > swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
/* detail deskripsi project end */

/* image app start */
.container-image-app-detail-project {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  object-fit: contain !important;
}
.image-app-detail-project {
  width: 800px !important;
  height: 800px !important;
  object-fit: contain !important;
}
/* image app end */

/* archive start */
#archive > div > div > div > table > thead {
  font-size: 26px !important;
}
#archive > div > div > div > table > tbody > tr {
  font-size: 20px !important;
}
#archive > div > div > div > table > tbody > tr > td > a {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 5px !important;
}
/* archive end */

/* header project start */
#project-parent > header > div > div > .container-logo {
  display: flex !important;
  flex-direction: row !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 10px !important;
}
#project-parent > header > div > div > .container-logo > h4 {
  font-size: 24px !important;
}
#project-parent > header > div > div > .container-logo > a > iconify-icon {
  font-size: 24px !important;
  transform: translateY(3px) !important;
}
#project-parent > header {
  padding: 0 !important;
  margin: 0 !important;
}
/* header project end */

@media (max-width: 768px) {
  .container-sidebar {
    display: none;
  }
  .image-shape {
    width: 70% !important;
    height: 70% !important;
    border-radius: 40% !important;
  }
  .btn-hero {
    @apply lg:py-2 lg:px-6;
  }
  .text-name {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .text-posisi {
    font-size: 60px !important;
    padding: 0;
    line-height: 1;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
  }
  .bg-shape1 {
    width: 150px !important;
    height: 150px !important;
    top: 200px;
    left: 0px;
    position: absolute;
    border-radius: 999px !important;
    z-index: -1;
    animation: one 10s infinite !important ;
    /* animation: none !important ; */
  }
  .bg-shape2 {
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    top: 0px;
    left: 100px;
    border-radius: 999px !important;
    z-index: -1;
    animation: two 10s infinite !important ;
    /* animation: none !important ; */
  }
  .bg-shape3 {
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    top: 200px;
    right: 0px;
    border-radius: 999px !important;
    z-index: -1;
    animation: three 10s infinite !important ;
    /* animation: none !important ; */
  }

  @keyframes one {
    0% {
      top: 200px;
      left: 0px;
    }
    25% {
      left: 200px;
      top: 0px;
    }
    50% {
      left: 200px;
      top: 200px;
    }
    100% {
      top: 200px;
      left: 0px;
    }
  }
  @keyframes two {
    0% {
      left: 200px;
      top: 0px;
    }
    25% {
      left: 200px;
      top: 200px;
    }
    50% {
      left: 0px;
      top: 200px;
    }
    100% {
      left: 200px;
      top: 0px;
    }
  }
  @keyframes three {
    0% {
      right: 0px;
      top: 200px;
    }
    25% {
      right: 200px;
      top: 0px;
    }
    50% {
      right: 100px;
      top: 0px;
    }
    100% {
      right: 0px;
      top: 200px;
    }
  }

  /* header start */

  header > .container > div > div > a {
    font-size: 22px !important;
  }
  .hamburger-line {
    @apply w-[35px] h-[3.5px];
  }
  #nav-menu > ul > li > a {
    font-size: 20px !important;
  }
  /* header end */

  /* hero start */

  #hero {
    padding-top: 75px !important;
  }

  .sub-container-hero {
    display: flex !important;
    flex-direction: column !important;
  }
  .sub-container-hero > .contain-hero-one {
    display: flex !important;
    order: 2 !important;
  }
  .sub-container-hero > .contain-hero-two {
    display: flex !important;
    order: 1 !important;
  }
  .sub-container-hero > .contain-hero-two > div > div > figure > a > img {
    height: 200px !important;
    width: 200px !important;
    border-radius: 100% !important;
  }
  .contain-hero-one > .contain-text-hero > * {
    text-align: center !important;
  }
  .contain-hero-one > .contain-text-hero > h2 {
    font-size: 18px !important;
    /* border: 1px solid red !important; */
    padding: 0.8rem 0 !important;
  }
  .contain-hero-one > .contain-text-hero > h1 {
    font-size: 32px !important;
  }
  .contain-hero-one > .contain-text-hero > h1 > span {
    display: inline !important;
  }
  .contain-hero-one > .contain-text-hero > p {
    font-size: 14px !important;
    margin-bottom: 2rem !important;
  }

  .contain-hero-one > .contain-text-hero > .containts-button-hero {
    justify-content: center !important;
  }
  .contain-hero-one > .contain-text-hero > .containts-button-hero > a {
    font-size: 12px !important;
    padding: 0.4rem 1.5rem !important;
  }

  /* hero end */

  /* about and project start */

  #contact,
  #abouts,
  #project {
    padding: 0 !important;
    padding-top: 4rem !important;
  }
  #abouts,
  #project {
    padding: 0 !important;
    padding-top: 8rem !important;
  }
  #abouts > .container > div > div,
  #project > .container > div > div,
  #contact > .container > div > div {
    height: 35rem !important;
    display: flex !important;
    align-items: end !important;
    justify-content: end !important;
  }
  #abouts > .container > div > div > .containts-about-image,
  #project > .container > div > div > .containts-project-image,
  #contact > .container > div > div > .containts-contact-image {
    width: 100% !important;
    height: 400px !important;
    position: absolute !important;
    padding: 0 !important;
    padding: 0 2rem !important;
    top: 0 !important;
    display: flex !important;
    justify-content: center !important;
  }
  #abouts > .container > div > div > .containts-about-image > figure,
  #project > .container > div > div > .containts-project-image > figure,
  #contact > .container > div > div > .containts-contact-image > figure,
  #abouts > .container > div > div > .containts-about-image > figure > a,
  #project > .container > div > div > .containts-project-image > figure > a,
  #contact > .container > div > div > .containts-contact-image > figure > a {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
  }
  #abouts > .container > div > div > .containts-about-image > figure > a > img,
  #project
    > .container
    > div
    > div
    > .containts-project-image
    > figure
    > a
    > img,
  #contact
    > .container
    > div
    > div
    > .containts-contact-image
    > figure
    > a
    > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transform: none !important;
  }

  #abouts > .container > div > div > .containts-about-text > div > h1,
  #project > .container > div > div > .containts-project-text > div > h1,
  #contact > .container > div > div > .containts-contact-text > div > h1 {
    font-size: 30px !important;
    position: relative !important;
    padding: 0.4rem 1.5rem !important;
    background-color: transparent !important;
    color: #e6e6e6 !important;
    margin: 0 !important;
    z-index: 1 !important;
    margin-bottom: 1.5rem !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
  }
  #abouts > .container > div > div > .containts-about-text > a,
  #project > .container > div > div > .containts-project-text > a,
  #contact > .container > div > div > .containts-contact-text > a {
    width: 28% !important;
    padding: 0.4rem 1.5rem !important;
    font-size: 12px !important;
    z-index: 1 !important;
    margin: 0 !important;
  }

  #abouts > .container > div > div > .containts-about-text > p,
  #project > .container > div > div > .containts-project-text > p,
  #contact > .container > div > div > .containts-contact-text > p {
    font-size: 14px !important;
    z-index: 1 !important;
    margin: 0 0 !important;
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
  }
  #abouts > .container > div > div > .containts-about-text,
  #project > .container > div > div > .containts-project-text,
  #contact > .container > div > div > .containts-contact-text {
    width: 100% !important;
    padding: 0 2rem !important;
    z-index: 2;
    transform: translateY(-3rem) !important;
  }
  /* about and project end */

  /* contact start */
  #contact > .container > div > div {
    height: 40rem !important;
  }
  #contact > .container > div > div > .containts-contact-text > ul {
    margin: 0 !important;
    padding-left: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    background-color: transparent !important;
    border: none !important;
  }
  #contact > .container > div > div > .containts-contact-text > ul > li {
    margin-left: 0.5rem !important;
  }
  #contact
    > .container
    > div
    > div
    > .containts-contact-text
    > ul
    > li:first-child {
    margin-left: 0 !important;
  }
  #contact
    > .container
    > div
    > div
    > .containts-contact-text
    > ul
    > li
    > a
    > iconify-icon {
    font-size: 20px !important;
  }
  #contact > .container > div > div > .containts-contact-text > h4 {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
  }
  /* contact end */

  /* header start */
  #about-full > header > div > div > .container-logo {
    gap: 12px !important;
  }
  #about-full > header > div > div > .container-logo > a > iconify-icon {
    font-size: 20px !important;
  }
  #about-full > header > div > div > .container-logo > h4 {
    font-size: 20px !important;
  }
  /* header end */
  /* detail about start*/
  #about-full > section {
    box-sizing: border-box !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #about > div > div > div > .containts-about-image-full {
    width: 100% !important;
  }

  #about > div > div > div > .containts-about-image-full > figure > a > img {
    height: 80vh !important;
  }

  #about > div > div > div > .containts-about-text-full {
    position: absolute !important;
    z-index: 3 !important;
    width: 100% !important;
    margin: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    padding: 0 3rem 5rem 3rem !important;
  }
  #about > div > div > div > .containts-about-text-full > div > h1 {
    color: #343a40 !important;
    font-size: 32px !important;
  }
  #about > div > div > div > .containts-about-text-full > div > h1::before {
    background-color: #343a40 !important;
  }
  #about > div > div > div > .containts-about-text-full > div > h1::after {
    background-color: #343a40 !important;
  }
  #about > div > div > div > .containts-about-text-full > p {
    color: #343a40 !important;
    margin: 0 !important;
    font-size: 16px !important;
    margin-bottom: 30px !important;
  }
  #about > div > div > div > .containts-about-text-full > a {
    margin: 0 !important;
    font-size: 16px !important;
  }
  /* detail about end*/

  /* whos start */
  #whos {
    padding: 5rem 0 1rem 0 !important;
  }
  #whos > div > div > h1 {
    font-size: 32px !important;
  }
  /* whos end */
  /* profile start */
  #aboutme > div > div > div {
    display: flex !important;
    flex-direction: column !important;
    /* border: 1px solid red !important; */
  }
  #aboutme > div > div > div > .container-image-about-full-effect {
    padding: 5rem 0 0 0 !important;
    box-sizing: border-box !important;
  }
  #aboutme > div > div > div > .container-about-full-text {
    padding: 0 !important;
    padding: 4rem 0.8rem 2rem 0.8rem !important;
    /* border: 1px solid red !important; */
  }
  #aboutme
    > div
    > div
    > div
    > .container-image-about-full-effect
    > swiper-container {
    width: 240px !important;
    height: 320px !important;
  }
  #aboutme > div > div > div > .container-about-full-text > h1 {
    font-size: 20px !important;
  }
  #aboutme > div > div > div > .container-about-full-text > p {
    font-size: 14px !important;
    font-family: "jost_light" !important;
  }
  #aboutme
    > div
    > div
    > div
    > .container-about-full-text
    > .containers-spotify {
    display: flex !important;
    flex-direction: row !important;
    gap: 6px !important;
  }
  #aboutme
    > div
    > div
    > div
    > .container-about-full-text
    > .containers-spotify
    > iconify-icon {
    font-size: 30px !important;
    margin: 0 !important;
  }
  #aboutme
    > div
    > div
    > div
    > .container-about-full-text
    > .containers-spotify
    > h4 {
    font-size: 16px !important;
  }
  /* profile end */

  /* skills start */
  #skills > div > div > div > .header > h1 {
    font-size: 24px !important;
  }
  #skills > div > div > div > .header > h6 {
    font-size: 14px !important;
    text-align: center !important;
  }
  #skills > div > div > div > .body > .container-skills {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    padding: 0 !important;
    padding: 1rem 2rem 0 2rem !important;
  }
  #skills > div > div > div > .body > .container-skills > div > iconify-icon {
    font-size: 32px !important;
  }
  #skills > div > div > div > .body > .container-skills > div > h4 {
    font-size: 16px !important;
  }
  #skills > div > div > div > .body > .container-skills > div > h4 {
    text-align: center !important;
  }
  /* skills end */

  /* expertise start */
  #expertise > div > div > .container-expertise {
    padding: 0 !important;
    padding: 1rem 2rem !important;
  }
  #expertise > div > div > .container-expertise > .header-expertise > h6 {
    font-size: 24px !important;
    text-align: center !important;
  }
  #expertise > div > div > .container-expertise > .body-expertise {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  #expertise
    > div
    > div
    > .container-expertise
    > .body-expertise
    > div
    > iconify-icon {
    font-size: 28px !important;
  }
  /* expertise end */

  /* tools start */
  #tools > div > div > .container-tools {
    padding: 0 !important;
    padding: 1rem 2rem !important;
  }
  #tools > div > div > .container-tools > .header-tools > h6 {
    font-size: 24px !important;
  }
  #tools > div > div > .container-tools > .body-tools {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  #tools > div > div > .container-tools > .body-tools > div > iconify-icon {
    font-size: 28px !important;
  }
  /* tools end */

  /* Experience start */
  #experience > div > .header-experience > h1 {
    font-size: 32px !important;
  }
  #experience > div > .body-experience > ol > li > time {
    font-size: 18px !important;
  }
  #experience > div > .body-experience > ol > li > h3 {
    font-size: 28px !important;
  }
  #experience > div > .body-experience > ol > li > h5 {
    font-size: 16px !important;
  }
  #experience > div > .body-experience > ol > li > p {
    font-size: 14px !important;
  }
  /* Experience end */

  /* profile start */
  #profile > div > div > .body-profile > div {
    display: flex !important;
    flex-direction: column !important;
  }
  #profile > div > div > .header-profile > h1 {
    font-size: 28px !important;
  }
  #profile > div > div > .header-profile > h6 {
    font-size: 18px !important;
  }
  #profile > div > div > .body-profile > div > .container-image {
    padding: 0 !important;
    padding: 0 1.5rem !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education
    > h3 {
    font-size: 18px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education
    > h1 {
    font-size: 22px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education
    > p {
    font-size: 16px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-two
    > p {
    font-size: 14px !important;
  }
  #profile
    > div
    > div
    > .body-profile
    > div
    > .container-caption-education
    > .caption-education-three
    > h4 {
    font-size: 14px !important;
  }
  /* profile end */

  /* quotes start */
  #quotes > div > div > div > figure > blockquote > p {
    font-size: 24px !important;
  }
  #quotes > div > div > div > figure > blockquote > p > span {
    font-size: 20px !important;
  }
  /* quotes end */

  /* getintouch start */
  #getintouch > div > div > div > h5 {
    font-size: 20px !important;
  }
  #getintouch > div > div > div > a > h1 {
    font-size: 28px !important;
  }
  #getintouch > div > div > div > a > iconify-icon {
    font-size: 28px !important;
  }
  /* getintouch end */

  /* responsive project start */

  #project-parent > header > div > div > .container-logo {
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 10px !important;
  }
  #project-parent > header > div > div > .container-logo > h4 {
    font-size: 20px !important;
  }
  #project-parent > header > div > div > .container-logo > a > iconify-icon {
    transform: translateY(3px) !important;
  }
  #project-parent > header {
    padding: 0 !important;
    padding: 1rem 0 !important;
  }

  #project-me > div > div > div {
    display: flex !important;
    flex-direction: column !important;
  }
  #project-me
    > div
    > div
    > div
    > .container-image-project-me-full-effect
    > swiper-container {
    width: 300px !important;
    height: 160px !important;
  }
  #project-me
    > div
    > div
    > div
    > .container-image-project-me-full-effect
    > swiper-container
    > swiper-slide
    > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  #project-me > div > div > div > .container-project-me-full-text {
    padding: 1rem !important;
  }
  #project-me > div > div > div > .container-project-me-full-text > h1 {
    font-size: 28px !important;
  }
  #project-me > div > div > div > .container-project-me-full-text > p {
    font-size: 16px !important;
  }
  #project-me > div > div > div > .container-project-me-full-text > div > a {
    padding: 0.7rem 2rem !important;
    font-size: 16px !important;
  }

  .all-project-higlight {
    margin: 0 !important;
    margin-top: 2rem !important;
  }

  #otherprojects > div > div > div > .header-all-projects > div > button {
    font-size: 14px !important;
    padding: 0 !important;
    padding: 0.4rem 0.6rem !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: center !important;
  }
  #otherprojects
    > div
    > div
    > div
    > .header-all-projects
    > div
    > button
    > iconify-icon {
    font-size: 20px !important;
  }

  #otherprojects > div > div > div > .body-all-projects {
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: center !important;
    margin: 0 !important;
    margin-top: 2rem !important;
  }
  #otherprojects > div > div > div > .body-all-projects > a {
    position: relative !important;
  }
  #project-parent
    > #otherprojects
    > div
    > div
    > div
    > .body-all-projects
    > a
    > .items-container-project
    > div
    > h1 {
    font-size: 14px !important;
  }
  #project-parent
    > #otherprojects
    > div
    > div
    > div
    > .body-all-projects
    > a
    > .items-container-project
    > div
    > p {
    font-size: 12px !important;
  }
  #project-parent
    > #otherprojects
    > div
    > div
    > div
    > .body-all-projects
    > a
    > .items-container-project
    > div
    > div
    > h3 {
    font-size: 12px !important;
  }
  #project-parent
    > #otherprojects
    > div
    > div
    > div
    > .footer-all-projects
    > div
    > a {
    padding: 0 !important;
    padding: 0.5rem 1rem !important;
    font-size: 14px !important;
  }

  footer > div > span {
    margin: 0 !important;
    text-align: center !important;
  }

  /* responsive project end */

  /* responsive detail project start */
  #deskripsi > div > div > .container-deskripsi-content {
    display: flex !important;
    flex-direction: column !important;
  }
  #deskripsi
    > div
    > div
    > .container-deskripsi-content
    > .deskripsi-content-one {
    width: 100% !important;
  }
  #deskripsi
    > div
    > div
    > .container-deskripsi-content
    > .deskripsi-content-one
    > div
    > h3 {
    font-size: 18px !important;
  }
  #deskripsi
    > div
    > div
    > .container-deskripsi-content
    > .deskripsi-content-one
    > div
    > a {
    font-size: 20px !important;
  }
  #deskripsi
    > div
    > div
    > .container-deskripsi-content
    > .deskripsi-content-one
    > div
    > span {
    font-size: 20px !important;
  }
  #deskripsi
    > div
    > div
    > .container-deskripsi-content
    > .deskripsi-content-one
    > div
    > #name-project {
    font-size: 24px !important;
  }
  #deskripsi
    > div
    > div
    > .container-deskripsi-content
    > .deskripsi-content-two
    > h3 {
    font-size: 20px !important;
  }
  #deskripsi
    > div
    > div
    > .container-deskripsi-content
    > .deskripsi-content-two
    > span {
    font-size: 16px !important;
  }
  .image-app-detail-project {
    width: 500px !important;
    height: 500px !important;
    object-fit: contain !important;
  }

  /* archive start */
  #archive > div > div > div > table > thead {
    font-size: 20px !important;
  }
  #archive > div > div > div > table > tbody > tr {
    font-size: 18px !important;
  }
  #archive > div > div > div > table > tbody > tr > td > a {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 5px !important;
  }
  /* archive end */
  /* responsive detail project end */

  #about,
  #project-me,
  #otherprojects,
  #getintouch,
  #whos {
    margin: 0 !important;
    width: 100% !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
  }
}
