@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jetbrains_light";
  src: url("../font/JetBrainsMono-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jetbrains_bold";
  src: url("../font/JetBrainsMono-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jetbrains_italic";
  src: url("../font/JetBrainsMono-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jetbrains_medium";
  src: url("../font/JetBrainsMono-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_light";
  src: url("../font/Jost-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_bold";
  src: url("../font/Jost-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_extra_bold";
  src: url("../font/Jost-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost_medium";
  src: url("../font/Jost-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
/* loading start */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.loading-pages {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027) !important;
  height: 100vh !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 1.5rem !important;
  align-items: center !important;
  justify-content: center !important;
  color: #191654 !important;
}

#svgs {
  height: 150px !important;
  width: 150px !important;
  stroke: white !important;
  fill-opacity: 0 !important;
  stroke-width: 3px !important;
  stroke-dasharray: 4500 !important;
  animation: draw 8s ease !important;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.names-container {
  height: 30px;
  overflow: hidden;
}

.logo-names {
  color: #fff;
  font-size: 20px;
  font-family: "Michroma";
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}
/* loading end */
@layer base {
  html {
    font-family: "jetbrains", system-ui, sans-serif;
  }

  .absolute-shape-1 {
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
  }

  .image-shape {
    height: 400px !important;
    width: 300px !important;
    border-radius: 100px !important;
    box-shadow: inset 0px -1px 0 0 rgba(0, 0, 0, 0.1) !important;
  }
  .bg-shape1 {
    width: 200px !important;
    height: 200px !important;
    top: 200px;
    left: 0px;
    position: absolute;
    border-radius: 999px !important;
    z-index: -1;
    animation: one 10s infinite !important ;
  }
  .bg-shape2 {
    width: 200px !important;
    height: 200px !important;
    position: absolute;
    top: 0px;
    left: 200px;
    border-radius: 999px !important;
    z-index: -1;
    animation: two 10s infinite !important ;
  }
  .bg-shape3 {
    width: 200px !important;
    height: 200px !important;
    position: absolute;
    top: 200px;
    right: 0px;
    border-radius: 999px !important;
    z-index: -1;
    animation: three 10s infinite !important ;
  }
  @keyframes one {
    0% {
      top: 200px;
      left: 0px;
    }
    25% {
      left: 300px;
      top: 0px;
    }
    50% {
      left: 300px;
      top: 260px;
    }
  }
  @keyframes two {
    0% {
      left: 200px;
      top: 0px;
    }
    25% {
      left: 200px;
      top: 260px;
    }
    50% {
      left: 0px;
      top: 260px;
    }
  }
  @keyframes three {
    0% {
      right: 0px;
      top: 200px;
    }
    25% {
      right: 300px;
      top: 0px;
    }
    50% {
      right: 200px;
      top: 0px;
    }
  }
  .bg-blur {
    filter: blur(50px);
  }
  .bg-primary-shape {
    background-color: rgb(30, 0, 255);
    /* background-color: black !important; */
  }
  .bg-teal-shape {
    background-color: rgb(255, 72, 173);
    /* background-color: black !important; */
  }
  .bg-purple-shape {
    background-color: rgb(140, 0, 215);
    /* background-color: black !important; */
  }
  .text-posisi {
    font-size: 100px;
    padding: 0;
    line-height: 1;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
  }
  .container-sidebar {
    top: 30% !important;
    left: 0 !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    @apply bg-dark text-white;
  }
  .menu-active {
    border-bottom: 4px solid #fff;
    border-radius: 10px;
  }
  .container-sidebar-sub {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px !important;
    padding: 2rem 1rem !important;
  }
  .container-shape {
    width: 50%;
    height: 70vh;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  .bg-shape1,
  .bg-shape2,
  .bg-shape3 {
    position: absolute; /* Ensure shapes are positioned absolutely */
    transition: left 0.5s, top 0.5s; /* Default transition for moving */
  }
  .hamburger-line {
    @apply w-[40px] h-[4px] my-2 block bg-dark;
    border-radius: 10px;
  }
  .head-logo {
    @apply font-jost_medium text-dark;
    font-size: 24px !important;
  }
  .hamburger-active {
    z-index: 999 !important;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
    z-index: 99 !important;
    background-color: #fff !important;
  }
  .hamburger-active > span:nth-child(2) {
    display: block;
    @apply scale-0;
    z-index: 99 !important;
    background-color: #fff !important;
  }
  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
    z-index: 99 !important;
    background-color: #fff !important;
  }

  .head-logo-active {
    position: relative !important;
    z-index: 999 !important;
    color: #fff !important;
  }

  .nav-fixed {
    position: fixed !important;
    z-index: 9999 !important;
    background-color: transparent !important;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1) !important;
  }
  .menu-items {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
  }
  .nav-fixed::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute !important;
    background-color: #fff;
    opacity: 0.7 !important;
    backdrop-filter: blur(5px) !important;
  }
  .nav-menu {
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    z-index: 10 !important;
    left: 0 !important;
    position: absolute !important;
    padding: 5px 0 !important;
    background-color: transparent;
  }
  .nav-menu::before {
    content: "" !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: -1 !important;
    background-color: rgba(52, 58, 64, 0.9) !important; /* Ubah ke rgba */
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
  }
  .list-menu-hamburger {
    font-size: 24px !important;
    line-height: 1;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
  }
  .text-about {
    font-size: 100px !important;
    line-height: 1;
    padding: 10px 0;
    font-weight: 900;
    text-shadow: 0.5px 0.5px 0 black;
    position: relative;
    background-color: transparent;
  }
  .text-about::before {
    content: "";
    position: absolute;
    width: 20%; /* Adjust this value as needed */
    height: 5px;
    bottom: 0px;
    left: 0; /* Centering */
    /* transform: translateX(-50%); */
    z-index: 1;
    background-color: rgb(107 114 128);
    border-radius: 20%;
  }
  .text-about::after {
    content: "";
    position: absolute;
    width: 20%; /* Adjust this value as needed */
    height: 5px;
    bottom: -15px;
    left: 10%; /* Centering */
    /* transform: translateX(-50%); */
    z-index: 1;
    background-color: rgb(107 114 128);
    border-radius: 20%;
  }
}

@media (max-width: 768px) {
  .container-sidebar {
    display: none;
  }
  .image-shape {
    width: 70% !important;
    height: 70% !important;
    border-radius: 40% !important;
  }
  .btn-hero {
    @apply lg:py-2 lg:px-6;
  }
  .text-name {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .text-posisi {
    font-size: 60px !important;
    padding: 0;
    line-height: 1;
    font-weight: 900;
    text-shadow: 1px 1px 0 black;
  }
  .bg-shape1 {
    width: 150px !important;
    height: 150px !important;
    top: 200px;
    left: 0px;
    position: absolute;
    border-radius: 999px !important;
    z-index: -1;
    animation: one 10s infinite !important ;
    /* animation: none !important ; */
  }
  .bg-shape2 {
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    top: 0px;
    left: 100px;
    border-radius: 999px !important;
    z-index: -1;
    animation: two 10s infinite !important ;
    /* animation: none !important ; */
  }
  .bg-shape3 {
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    top: 200px;
    right: 0px;
    border-radius: 999px !important;
    z-index: -1;
    animation: three 10s infinite !important ;
    /* animation: none !important ; */
  }

  @keyframes one {
    0% {
      top: 200px;
      left: 0px;
    }
    25% {
      left: 200px;
      top: 0px;
    }
    50% {
      left: 200px;
      top: 200px;
    }
    100% {
      top: 200px;
      left: 0px;
    }
  }
  @keyframes two {
    0% {
      left: 200px;
      top: 0px;
    }
    25% {
      left: 200px;
      top: 200px;
    }
    50% {
      left: 0px;
      top: 200px;
    }
    100% {
      left: 200px;
      top: 0px;
    }
  }
  @keyframes three {
    0% {
      right: 0px;
      top: 200px;
    }
    25% {
      right: 200px;
      top: 0px;
    }
    50% {
      right: 100px;
      top: 0px;
    }
    100% {
      right: 0px;
      top: 200px;
    }
  }
}
